.card {
	position: relative;
	height: 350px;
	width: 30%;

	border-radius: 10px;

	cursor: pointer;
	overflow: hidden;

	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
}

.card.link {
	transition: all 0.25s ease-in-out;
}

.card .title {
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;

	font-size: 1.5rem;
	text-transform: uppercase;

	transition: all 0.25s ease-in-out;
}

.card.link .title {
	top: 50%;
	bottom: unset;

	transform: translateY(-50%);
}

.card .description {
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;

	font-size: 0.85rem;

	transition: all 0.25s ease-in-out;
	opacity: 0;
}

.card .author {
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;

	font-size: 1rem;
}

.card-image {
	width: 100%;
	height: 100%;

	opacity: 0.5;

	object-fit: cover;
	aspect-ratio: 16/9;

	transition: all 0.25s ease-in-out;
}

.card:hover .card-image {
	opacity: 0.75;
}

.card:hover .title {
	bottom: 40%;
}

.card:hover .description {
	opacity: 1;
}

.card.link:hover .title {
	bottom: unset;
}

.card.link:hover {
	transform: scale(0.9) rotate(3deg);
}

/**TABLET*/
@media (max-width: 1280px) {
	.card {
		height: 300px;
		width: 100%;
	}

	.card .title {
		bottom: 40%;

		font-size: 2rem;
		text-align: start;
	}

	.card.link .title{
		text-align: center;
	}

	.card .description {
		font-size: 1rem;

		opacity: 1;
	}
}

/**MOBILE*/
@media (max-width: 780px) {
	.card {
		height: 300px;
		width: 100%;
	}

	.card .title {
		top: 10%;
		bottom: unset;

		font-size: 1.5rem;
	}

	.card .description {
		font-size: 0.85rem;

		opacity: 1;
	}
}
